html2text~=2024.2.26
Flask==3.0.3
SQLAlchemy==2.0.31
Werkzeug~=3.0.3
requests==2.32.3
deepl==1.18.0
transformers==4.42.4
beautifulsoup4==4.12.3
numpy==1.26.4
datasets==2.20.0
safeIO~=1.2
pyuseragents~=1.0.5
tokenizers==0.19.1
Flask-Login==0.6.3
evaluate==0.4.2
keras==3.4.1
Jinja2==3.1.4
python-docx==1.1.4
Flask-SQLAlchemy==3.1.1
sacrebleu==2.4.2
torch==2.3.1+cu121
sentencepiece==0.2.0
accelerate==0.32.1
sacremoses==0.1.1
pillow==10.2.0
tf-keras==2.17.0