html2text~=2020.1.16
Flask==2.2.3
SQLAlchemy==2.0.4
Werkzeug~=2.2.3
requests==2.28.2
deepl==1.13.0
transformers==4.26.1
bs4~=0.0.1
beautifulsoup4==4.11.2
numpy==1.24.2
datasets==2.9.0
safeIO~=1.2
pyuseragents~=1.0.5
jinja2==3.1.2
torch==1.13.1+cu117
tokenizers==0.13.2
