{% extends "base.html" %}

{% block content %}
<h1 class="title">Modifier le contexte</h1>
    <div class="column is-8 is-offset-2">
        <div class="box">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification">
                    {{ messages[0] }}
                </div>
            {% endif %}
            {% endwith %}
            <form method="POST" action="/context/update/{{Context_to_Update.id}}">
                <div class="field is-horizontal">
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <label class="checkbox">
                                    <input type="checkbox" name="Active" {% if Context_to_Update.Active %}checked{% endif %}>
                                    Actif
                                </label>
                            </p>
                        </div>
                    </div>
                    <div class="field-body">
                        <div class="field">
                            <p class="control">
                                <input type="text" name="Text" placeholder="Texte" class="input" value="{{Context_to_Update.Text}}" required autocomplete="off">
                            </p>
                        </div>
                    </div>
                    <div class="field is-grouped is-grouped-centered is-horizontal">
                        <p class="control">
                            <input class="button is-block is-info" type="submit" value="Mettre à jour">
                        </p>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
