{% extends "base.html" %}

{% block head %}
    <link href="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.snow.css" rel="stylesheet">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/quill@2/dist/quill.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="{{ url_for('static', filename='js/caret.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/ControlInput.js') }}" type="application/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/minisearch@7.1.0/dist/umd/index.min.js"></script>
    <script type="text/javascript">var lastValue = {{ last }}; var id = {{ id }};</script>
{% endblock %}
{% block content %}
<form action="/project/{{ type }}/{{ extension }}/{{id}}" method="POST">
    <div class="columns is-multiline is-mobile lastelement">
        <div class="column is-half">
            <div class="control">
                <h2 class="title is-4">Texte Original</h2>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <h2 class="title is-4">Texte Traduit</h2>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Précédent</label>
                <textarea class="textarea has-fixed-size" placeholder="" rows="5" disabled></textarea>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Précédent</label>
                <textarea class="textarea has-fixed-size" placeholder="" rows="5" disabled></textarea>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Actuel</label>
                <div id="disablededitorjs" onclick="copyQuillText()"></div>
            </div>
            <div class="control">
                <label class="label" id="ImageOriginalLabel" style="display:none;">Image Originale</label>
                <canvas id="originalImageCanvas" style="display:none;"></canvas>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Actuel</label>
                <div id="editorjs" {% if complete %}oninput="autocompletescript(event)" onkeypress="clear(event)"  {% endif %}></div>
                <div id="grammar-check-spinner" style="text-align: center; margin-top: 10px;">
                    <i class="fas fa-circle-notch fa-spin" style="color: #f2a0a0; font-size: 1.2em;"></i>
                    <span style="font-size: 0.9em; color: #f2a0a0; margin-left: 5px;">vérification du texte...</span>
                </div>
            </div>
            <div class="control">
                <label class="label" id="ImageTranslatedLabel" style="display:none;">Image Traduite</label>
                <div id="image-toolbar" class="toolbar ql-toolbar ql-snow" style="display:none;">
                    <button id="cloneStampButton" class="button is-small"><i class="fas fa-clone"></i></button>
                    <button id="addTextButton" class="button is-small"><i class="fas fa-font"></i></button>
                    <div id="diameterControls" class="is-inline-flex" style="visibility: hidden;">
                        <label for="diameterRange" style="border-left: 1px solid white;">Diamètre:</label>
                        <input type="range" id="diameterRange" min="5" max="50" value="15">
                        <span id="diameterValue">15</span>
                    </div>
                    <div id="fontSizeControls" class="is-inline-flex">
                        <label for="fontSizeRange" style="border-left: 1px solid white;">Taille texte :</label>
                        <input type="range" id="fontSizeRange" min="10" max="100" value="16">
                        <span id="fontSizeValue">16</span>px
                    </div>
                </div>
                <canvas id="translatedImageCanvas" style="display:none;"></canvas>
                <div id="cloneCursor" class="clone-cursor"></div>
                <button class="button is-family-secondary" id="undoButton">Annuler</button>
                <button class="button is-family-secondary" id="ValidationModifiedImgButton">Sauvegarder Modifications</button>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Suivant</label>
                <textarea class="textarea has-fixed-size" placeholder="" rows="5" disabled></textarea>
            </div>
        </div>
        <div class="column is-half">
            <div class="control">
                <label class="label">Segment Suivant</label>
                <textarea class="textarea has-fixed-size" placeholder="" rows="5" disabled></textarea>
            </div>
        </div>
        <div class="control as-centered sectionpage">
            <a class="button" onclick="downsectionnumber()"><</a>
            <input class="input" id="sectionnumber" type="text" autocomplete="off" value="{{ last }}" oninput="parseInt(getRessourceProject(document.getElementById('sectionnumber').value))">
            <a class="button" onclick="upsectionnumber()">></a>
            <span style="display: flex;text-align: center;align-items: center;justify-content: center;" id="totalsection">sur {{ total_sections }}</span>
            <span id="remaining-time" style="margin-left: 10px;">Temps restant estimé : --:--</span>
        </div>
    </div>
</form>
    
<script src="{{ url_for('static', filename='js/inputFilter.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/createEditor.js') }}" type="application/javascript"></script>
{% if complete %}<script src="{{ url_for('static', filename='js/autocomplete.js') }}" type="application/javascript"></script>{% endif %}
<script src="{{ url_for('static', filename='js/imageGestion.js') }}" type="application/javascript"></script>
{% include 'jstemplate/taoGestion.html' %}
{% include 'jstemplate/checkText.html' %}
<script src="{{ url_for('static', filename='js/lastSectionGestion.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/trainBeforeUnload.js') }}" type="application/javascript"></script>
{% endblock %}
