{% extends "base.html" %}

{% block head %}
    <link href="https://cdn.quilljs.com/1.3.7/quill.snow.css" rel="stylesheet">
    <script src="https://cdn.quilljs.com/1.3.7/quill.min.js"></script>
    <script src="{{ url_for('static', filename='js/caret.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/controlInput.js') }}" type="application/javascript"></script>
    <script src="{{ url_for('static', filename='js/minisearch.js') }}" type="application/javascript"></script>
{% endblock %}
{% block content %}
<form action="/project/{{id}}" method="POST">
<div class="columns is-multiline is-mobile lastelement">
    <div class="column is-half">
        <div class="control">
            <h2 class="title is-4">Texte Original</h2>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <h2 class="title is-4">Texte Traduit</h2>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Précédent</label>
            <textarea class="textarea has-fixed-size" placeholder="Fixed size textarea" rows="5"></textarea>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Précédent</label>
            <textarea class="textarea has-fixed-size" placeholder="Fixed size textarea" rows="5"></textarea>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Actuel</label>
            <div id="disablededitorjs" {% if complete %}oninput="autocompletescript(event)" onkeypress="clear(event)" {% endif %} ></div>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Actuel</label>
            <div id="editorjs" {% if complete %}oninput="autocompletescript(event)" onkeypress="clear(event)"  {% endif %}></div>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Suivant</label>
            <textarea class="textarea has-fixed-size" placeholder="Fixed size textarea" rows="5"></textarea>
        </div>
    </div>
    <div class="column is-half">
        <div class="control">
            <label class="label">Segment Suivant</label>
            <textarea class="textarea has-fixed-size" placeholder="Fixed size textarea" rows="5"></textarea>
        </div>
    </div>
    <div class="control as-centered sectionpage">
        <a class="button" onclick="downsectionnumber()"><</a>
        <input class="input" id="sectionnumber" type="text" autocomplete="off" value="{{ last }}" oninput="parseInt(getRessourceProject(document.getElementById('sectionnumber').value))">
        <a class="button" onclick="upsectionnumber()">></a>
    </div>
</div>
</form>

<script src="{{ url_for('static', filename='js/inputFilter.js') }}" type="application/javascript"></script>
<script src="{{ url_for('static', filename='js/createEditor.js') }}" type="application/javascript"></script>
{% if complete %}<script src="{{ url_for('static', filename='js/autocomplete.js') }}" type="application/javascript"></script>{% endif %}
<script>
var previousidblock = null
var mini = null
async function AddCurrentSegment(miniSearch){
    if (miniSearch === null) {
        var miniSearch = await CreateMiniSearch();
    }
    var resultfrommemory = miniSearch.search(document.getElementsByClassName("ql-editor")[0].innerText);
    var RequestAddSegment = new XMLHttpRequest();
    RequestAddSegment.open("POST", "{{ url_for('addsegment') }}", true);
    RequestAddSegment.setRequestHeader("Content-Type", "application/json");
    if (resultfrommemory.length > 0)
    {
        if (document.getElementsByClassName("ql-editor")[0].innerText !== resultfrommemory[0].Source && document.getElementsByClassName("ql-editor")[1].innerText !== "\n")
        {
            miniSearch.add({"id": mini.length+1, "Source_Lang": "{{project.Source_Lang}}", "Target_Lang": "{{project.Target_Lang}}", "Source": document.getElementsByClassName("ql-editor")[0].innerText, "Target" : document.getElementsByClassName("ql-editor")[1].innerText})
            RequestAddSegment.send(JSON.stringify({"Source_Lang": "{{project.Source_Lang}}", "Target_Lang": "{{project.Target_Lang}}", "Source": document.getElementsByClassName("ql-editor")[0].innerText, "Target" : document.getElementsByClassName("ql-editor")[1].innerText, "User_ID": {{current_user.id}}, "Project_ID": {{project.id}}, "Segment_ID": previousidblock}));
        }
    }
    else
    {
        if (document.getElementsByClassName("ql-editor")[1].innerText !== "\n")
        {
            miniSearch.add({"id": mini.length+1, "Source_Lang": "{{project.Source_Lang}}", "Target_Lang": "{{project.Target_Lang}}", "Source": document.getElementsByClassName("ql-editor")[0].innerText, "Target" : document.getElementsByClassName("ql-editor")[1].innerText})
            RequestAddSegment.send(JSON.stringify({"Source_Lang": "{{project.Source_Lang}}", "Target_Lang": "{{project.Target_Lang}}", "Source": document.getElementsByClassName("ql-editor")[0].innerText, "Target" : document.getElementsByClassName("ql-editor")[1].innerText, "User_ID": {{current_user.id}}, "Project_ID": {{project.id}}, "Segment_ID": previousidblock}));
        }
    }
}
function CreateMiniSearch() {
  var stopWords = new Set(['and', 'or', 'to', 'in', 'a', 'the', "I", "you", "he", "she", "is", "are", "have", "has", "it", "for", "not", "on", "with", "this", "by", "if", "an", "at", "so", "of", "one", "into", "any", "who", "its", "any", "that", "up", "down"]);
  var jsonrequest = new XMLHttpRequest();
  return new Promise(function(resolve, reject) {
   jsonrequest.onreadystatechange = function() {
      if (jsonrequest.readyState === 4) {
        if (jsonrequest.status >= 300) {
          reject("Error, status code = " + jsonrequest.status)
        } else {
            var miniSearch = new MiniSearch({
                fields: ['id', 'Source_Lang', 'Target_Lang', 'Source', 'Target'],
			    storeFields: ['Source', 'Target'],
			    processTerm: (term, _fieldName) => stopWords.has(term) ? null : term.toLowerCase()
			    });
            var jsondata = JSON.parse(jsonrequest.responseText);
            miniSearch.addAll(jsondata);
            resolve(miniSearch);
        }
      }
    }
    jsonrequest.open('GET', "{{ url_for('static', filename='json/memory'+ user.id|string +'.json') }}", true)
    jsonrequest.send();
  });
}
async function SearchInMiniSearch(texttosearch, miniSearch) {
    if (document.getElementById("autocompleter") == null){
        document.body.appendChild(htmltoshow);
    }
    if (miniSearch === null) {
        var miniSearch = await CreateMiniSearch();
    }
    var resultfrommemory = miniSearch.search(texttosearch);
    if (resultfrommemory.length > 0) {
        if (resultfrommemory[0].score > texttosearch.length) {
            htmltoshow.style.display = "none";
            htmltoshow.textContent = resultfrommemory[0].Target
            htmltoshow.style.left = -(document.body.getBoundingClientRect().left - document.getElementsByClassName("ql-editor")[1].children[0].getBoundingClientRect().left) + "px";
            htmltoshow.style.top = -(document.body.getBoundingClientRect().top - document.getElementsByClassName("ql-editor")[1].children[0].getBoundingClientRect().top) + "px";
        }
    }
    return miniSearch;
}
async function getRessourceProject(block){
    var url = "/project/{{id}}";
    var ressourcerequest = new XMLHttpRequest();
    ressourcerequest.open("POST", url, true);
    ressourcerequest.setRequestHeader("Content-Type", "application/json");
    var translatedrequest = new XMLHttpRequest();
    translatedrequest.open("POST", url, true);
    translatedrequest.setRequestHeader("Content-Type", "application/json");
    await AddCurrentSegment(mini);
    translatedrequest.onreadystatechange = async function ()
    {
        if (translatedrequest.readyState === 4 && translatedrequest.status === 200)
        {
            previousidblock = block
            var json = JSON.parse(translatedrequest.responseText);
            var htmlblock = json.result;
            document.getElementsByClassName("ql-editor")[1].innerHTML = htmlblock
            {% if keepstyle %}
            document.getElementsByClassName("ql-editor")[1].children[0].className = document.getElementsByClassName("ql-editor")[0].children[0].className //ligne pour keepstyle sur la page paramètres mais pas la balise ?
            {% endif %}
            if (!(document.getElementsByClassName("ql-editor")[1].innerText === "\n" || document.getElementsByClassName("ql-editor")[1].innerText === "")) {
                htmltoshow.textContent = "";
            }
            else {
                htmltoshow.style.display = "block";
            }

        }
    };
    ressourcerequest.onreadystatechange = async function ()
    {
        if (ressourcerequest.readyState === 4 && ressourcerequest.status === 200)
        {
            var json = JSON.parse(ressourcerequest.responseText);
            var htmlblock = json.result;
            document.getElementsByClassName("ql-editor")[0].innerHTML = htmlblock
            var transtateddata = JSON.stringify({"translated": block , "previoustranslated": previousidblock,  "originaltext" : document.getElementsByClassName("ql-editor")[0].innerHTML, "translatedtext" : document.getElementsByClassName("ql-editor")[1].innerHTML });
            translatedrequest.send(transtateddata);
            mini = await SearchInMiniSearch(document.getElementsByClassName("ql-editor")[0].children[0].innerText, mini);
        }
    };
    var resourcedata = JSON.stringify({"ressource": block});
    ressourcerequest.send(resourcedata);
    {% if keepstyle %}
    document.getElementsByClassName("ql-editor")[1].children[0].className = document.getElementsByClassName("ql-editor")[0].children[0].className //ligne pour keepstyle sur la page paramètres
    {% endif %}
    {% if complete %}
    htmltoshow.textContent = ""
    {% endif %}
}
</script>
<script>
    document.getElementById("sectionnumber").value = {{ last }}
    getRessourceProject(document.getElementById('sectionnumber').value);
</script>
<script>

</script>
{% endblock %}