{% extends "base.html" %}

{% block content %}
<h1 class="title">Bonjour, {{ pseudo }} !</h1>
<a href="{{ url_for('newproject') }}" class="button is-fullwidth">Nouveau projet</a>
<div class="column is-fullwidth is-fullheight is-scrollable">
  <div class="box">
    <section class="section cards">
      <div class="container">
        <div class="columns is-multiline is-fullheight is-fullwidth is-centered">
          {% if Projectlist %}
            {% for project in Projectlist %}
            <div class="column toaster is-narrow">
              {% set project_url = url_for('project' + project.Type + project.Extension, id=project.id) %}
              <a href="{{ project_url }}">
                <span class="icon is-large is-left">
                  {% if project.Extension == "docx" %}
                  <i class="fas fa-4x fa-file-word inline-flex"></i>
                  {% elif project.Extension == "txt" %}
                  <i class="fas fa-4x fa-file-alt inline-flex"></i>
                  {% elif project.Extension == "pdf" %}
                  <i class="fas fa-4x fa-file-pdf inline-flex"></i>
                  {% else %}
                  <i class="fas fa-4x fas fa-file-image inline-flex"></i>
                  {% endif %}
                </span>
                <p style="font-size: 1.5em;">{{ project.Name }}</p>
                <p>{{ project.Source_Lang }}-{{ project.Target_Lang }}</p>
                <p><progress class="progress is-small is-primary" value="{{ project.Advancement }}" max="100"></progress></p>
              </a>
            </div>
            {% endfor %}
          {% endif %}
        </div>
      </div>
      </section>
  </div>
</div>
{% endblock %}